@import './abstracts/variables';
@import './abstracts/mixins';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-image: url(../background-img.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    padding: 25px;

    @include respond-to(tablet) {
        padding: 20px 35px;
    }

    @include respond-to(desktop) {
        padding: 90px 400px;
    }
}

.content__title {
    @include font();
    font-weight: 600;
    font-style: italic;
    font-size: 30px;

    @include respond-to(tablet) {
        font-size: 48px;
        padding: 0px 30px
    }

    @include respond-to(desktop) {
        font-size: 60px;
    }
}

.content__text {
     @include font();
     font-size: 14px;

    @include respond-to(tablet) {
        padding: 0px 170px 0px 150px;
        font-size: 18px;
    }

    
    @include respond-to(desktop) {
        padding: 0px 150px 0px 120px;
        font-size: 24px;
    }
}

.content__form {
    display: flex;
    gap: 0;
    justify-content: center;

    @include respond-to(tablet) {
        height: 48px;
    }

    @include respond-to(desktop) {
        padding: 0px 165px;
    
    }

}

.content__input {
    @include font();
    border: none;
    background-color: $text-color;
    padding: 16px 5px;
    font-size: 12px;
    color: rgba(57, 57, 57, 1);

    @include respond-to(tablet) {
        padding: 16px 10px;
        flex: 1;
        width: auto;
    }
}

.input__button {
    @include font();
    border: none;
    background-color: black;
    padding: 16px 5px;
    font-size: 14px;

}